{
  "extends": [
    "xo",
    "standard"
  ],
  "plugins": [
    "unicorn"
  ],
  "rules": {
    "unicorn/no-array-reduce": "off",
    "unicorn/no-process-exit": "off",
    "complexity": "off",
    "max-depth": "off"
  }
}
